# Ignore uploads directory
uploads/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
run-logs/
*.log

# Sensitive Credentials
documents/authentication-service-secrets.md

# Java build target
**/target/

# Local scratch files
scratch/

# Backup files
*.bak

