<div class="password-strength-container" *ngIf="password">
  <div class="progress-bar-container">
    <div class="progress-bar" [ngClass]="strengthClass" [style.width.%]="(strength / 5) * 100"></div>
  </div>
  <div class="strength-label" [ngClass]="strengthClass">
    {{ strengthLabel | translate }}
  </div>

  <ul class="requirements-list">
    <li [class.met]="hasLength">
      <span nz-icon [nzType]="hasLength ? 'check-circle' : 'close-circle'" nzTheme="fill"></span>
      {{ 'auth.login.forceChangeModal.reqLength' | translate }}
    </li>
    <li [class.met]="hasUpper && hasLower">
      <span nz-icon [nzType]="hasUpper && hasLower ? 'check-circle' : 'close-circle'" nzTheme="fill"></span>
      {{ 'auth.login.forceChangeModal.reqUpperLower' | translate }}
    </li>
    <li [class.met]="hasNumber">
      <span nz-icon [nzType]="hasNumber ? 'check-circle' : 'close-circle'" nzTheme="fill"></span>
      {{ 'auth.login.forceChangeModal.reqNumber' | translate }}
    </li>
    <li [class.met]="hasSpecial">
      <span nz-icon [nzType]="hasSpecial ? 'check-circle' : 'close-circle'" nzTheme="fill"></span>
      {{ 'auth.login.forceChangeModal.reqSpecial' | translate }}
    </li>
  </ul>
</div>
